<?xml version="1.0"?>
<config>
    <modules>
        <VDGMage_ChromeLoginFix>
            <version>1.0</version>
        </VDGMage_ChromeLoginFix>
    </modules>
    <global>
        <models>
            <core>
                <rewrite>
                    <cookie>VDGMage_ChromeLoginFix_Model_Cookie</cookie>
                </rewrite>
            </core>
        </models>
        <helpers>
            <vdgmage_chromeloginfix>
                <class>VDGMage_ChromeLoginFix_Helper</class>
            </vdgmage_chromeloginfix>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <chromeloginfix>
                                            <title>ChromeLoginFix - All</title>
                                        </chromeloginfix>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <chromeloginfix>
            <chromeloginfix_general>
                <chromeloginfix_enable>1</chromeloginfix_enable>
                <chromeloginfix_enable_http>1</chromeloginfix_enable_http>
                <chromeloginfix_enable_secure>0</chromeloginfix_enable_secure>
                <chromeloginfix_enable_domain>0</chromeloginfix_enable_domain>
                <chromeloginfix_enable_lifetime>0</chromeloginfix_enable_lifetime>
                <chromeloginfix_enable_chrome_only>1</chromeloginfix_enable_chrome_only>
            </chromeloginfix_general>
        </chromeloginfix>
    </default>
</config>